#COMP3{
    color:gray;
    font-size: 35px;
}
.class1{
    border: 2px solid rebeccapurple;
}
.class2{
    border: 2px dotted rebeccapurple;
}
.ContentBox{
    border:1px solid olive;
    border-radius: 10px;
}